<!-- <input type="radio" name="slides" id="slide0" class="slideradio" checked/>
<div class="slide" style="background-image: url(https://images.pexels.com/photos/919436/pexels-photo-919436.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
  <label class="button back" for="slide4">
    <span></span>
  </label>
  <label class="button next" for="slide1">
    <span></span>
  </label>
</div>

<input type="radio" name="slides" id="slide1" class="slideradio"/>
<div class="slide" style="background-image: url(https://images.pexels.com/photos/3813006/pexels-photo-3813006.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
  <label class="button back" for="slide0">
    <span></span>
  </label>
  <label class="button next" for="slide2">
    <span></span>
  </label>
</div>

<input type="radio" name="slides" id="slide2" class="slideradio"/>
<div class="slide" style="background-image: url(https://images.pexels.com/photos/1181373/pexels-photo-1181373.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
  <label class="button back" for="slide1">
    <span></span>
  </label>
  <label class="button next" for="slide3">
    <span></span>
  </label>
</div>

<input type="radio" name="slides" id="slide3" class="slideradio"/>
<div class="slide" style="background-image: url(https://images.pexels.com/photos/3776859/pexels-photo-3776859.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
  <label class="button back" for="slide2">
    <span></span>
  </label>
  <label class="button next" for="slide4">
    <span></span>
  </label>
</div>

<input type="radio" name="slides" id="slide4" class="slideradio"/>
<div class="slide" style="background-image: url(https://images.pexels.com/photos/4063793/pexels-photo-4063793.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
  <label class="button back" for="slide3">
    <span></span>
  </label>
  <label class="button next" for="slide0">
    <span></span>
  </label>
</div>

<div class="thumbwrapper">
  <label for="slide0" class="thumb slide0" style="background-image: url(https://images.pexels.com/photos/919436/pexels-photo-919436.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"></label>
  <label for="slide1" class="thumb slide1" style="background-image: url(https://images.pexels.com/photos/3813006/pexels-photo-3813006.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"></label>
  <label for="slide2" class="thumb slide2" style="background-image: url(https://images.pexels.com/photos/1181373/pexels-photo-1181373.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"></label>
  <label for="slide3" class="thumb slide3" style="background-image: url(https://images.pexels.com/photos/3776859/pexels-photo-3776859.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"></label>
  <label for="slide4" class="thumb slide4" style="background-image: url(https://images.pexels.com/photos/4063793/pexels-photo-4063793.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);"></label>
</div> -->



<p>stud-list works!</p>
<ol>
    <li *ngFor="let student of studentService.studentList" (click)="studentService.calculateTotal(student)">{{student.name}}</li>
</ol>